{% extends 'base.html' %}
{% set active_page = 'about' %}
{% block title %}About{% endblock %}

{% block content %}
    <h1 class="mt-5">About CryptoIOC</h1>
	<blockquote class="twitter-tweet" data-lang="de"><p lang="en" dir="ltr">Launching <a href="https://t.co/kMOIxBidrf">https://t.co/kMOIxBidrf</a>, an IOC sharing platform for cryptomining pools. Concept and design shamelessly ripped from <a href="https://twitter.com/abuse_ch?ref_src=twsrc%5Etfw">@abuse_ch</a> 😳<a href="https://twitter.com/hashtag/cryptojacking?src=hash&amp;ref_src=twsrc%5Etfw">#cryptojacking</a> 💰💰💰 <a href="https://t.co/c8f9rNNF5k">pic.twitter.com/c8f9rNNF5k</a></p>&mdash; antoine ⌨ (@ant0inet) <a href="https://twitter.com/ant0inet/status/1017405372707950592?ref_src=twsrc%5Etfw">12. Juli 2018</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

{% endblock%}
