<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="cryptomining, cryptojacking, cryptocurrency, monero, IOC, indicator of compromise, stratum">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

    <title>CryptoIOC | {% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
          <a class="navbar-brand" href="{{ url_for('index') }}">CryptoIOC</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          {% set navigation_bar = [
            ('browse', 'Browse the CryptoIOC database', 'Browse'),
            ('api', 'API', 'API'),
            ('about', 'About', 'About')
          ] -%}
          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
              {% for route, title, caption in navigation_bar %}
              <li class="nav-item">
                <a class="nav-link {% if route == active_page %}active{% endif %}" href="{{ url_for(route) }}"
                   title="{{ title|e }}">{{ caption|e }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="container">

      {% block content %}{% endblock %}
    </main>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123883631-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', 'UA-123883631-1');
	</script>

  </body>
</html>
