{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block header %}Home{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">CryptoIOC</h1>
            <p>CryptoIOC has the goal of sharing IP/port pairs used to connect to cryptomining pools.</p>
            <p><a class="btn btn-primary btn-lg" href="{{ url_for('browse') }}" role="button">CryptoIOC database &raquo;</a></p>
        </div>
    </div>


    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-6">
                <h2>CryptoIOC database</h2>
                <p>Get insights, browse the CryptoIOC database and find most recent additions.</p>
                <p><a class="btn btn-secondary" href="{{ url_for('browse') }}" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-6">
                <h2>API</h2>
                <p>Download the CryptoIOC dataset to detect traffic to cryptomining pools in your network.
                    The data set is available in various formats.</p>
                <p><a class="btn btn-secondary" href="{{ url_for('api') }}" role="button">View details &raquo;</a></p>
            </div>
        </div>
        <hr>
    </div>
{% endblock%}